<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-test></app-test>

<hr>
<app-class-binding-demo> </app-class-binding-demo>

<hr>
<app-style-binding-demo></app-style-binding-demo>

<hr>
<event-binding-demo></event-binding-demo>

<hr>
<template-reference-variable-demo></template-reference-variable-demo>

<hr>
<ng-if-directive-demo></ng-if-directive-demo>

<hr>
<ng-switch-directive-demo></ng-switch-directive-demo>

<hr>
<ng-for-directive-demo></ng-for-directive-demo>

<router-outlet></router-outlet>
